body{background-color:darkgrey}

h1{font-family:adobe gurmukhi, regular;
	color: white;
}
p{font-family:arial, narrow;
	font-size: 25px;
	color:white;

}
h2{font-family:adobe gurmukhi, regular;
	font-size: 23px;
    color:white;
}
ul{font-family:adobe gurmukhi, regular;
	color:white;
}
